img {
     width: 290px;
}

tr{
    border: 2px solid;
}

td{ 
    width:20%;
    border: 2px solid;
}

td.discription{
    width:80%;
}

table{
    border: 5px solid;
}

label{
    font-size: 30px; 
    line-height:16px;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 16px;
    font-family: "Helvetica Neue";
}

#s-button{
    margin-top: 20px;
    margin-left: 20px;
}